.perehod {
    position: relative;
    top: 1100px;
    height: 300px;
    width: 1879px;
    /* background-image: url(https://www.hihonor.com/content/dam/honor/ua/products/smartphone/honorplay/img/honorplay-feature15-pc.jpg); */
    background-color: white;
}