
.header {
  position: absolute;
width: 534px;
height: 37px;
right: 271px;
top: 35px;
z-index: 10;
}
.header__bottom_line {
  position: absolute;
  width: 130px;
  height: 2px;
  left: 20px;
  top: 35px;
  
  background: red;
  /* animation: div-galery 1s ease-in infinite; */
}

#header__home {
  position: absolute;
  width: 50px;
  height: 15px;
  left: 63px;
  top: 8px;
  
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1.73333px;
  
  color: red;
}
#header__about {
  position: absolute;
width: 80px;
height: 15px;
left: 198px;
top: 8px;

font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: flex-end;
letter-spacing: 1.73333px;

color: #55595D;

}
#header__contact {
  position: absolute;
width: 73px;
height: 15px;
left: 460px;
top: 8px;

font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: flex-end;
letter-spacing: 1.73333px;

color: #55595D;
}
#header__follow {
  position: absolute;
width: 74px;
height: 15px;
left: 328px;
top: 8px;

font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: flex-end;
letter-spacing: 1.73333px;

color: #55595D;

}
@keyframes active-button {
  0%{color: black}
  50%{color: rgb(53, 0, 18)}
  100% {color: red}
}
#header__about:hover {
  animation: active-button 0.4s ease-in;
  animation-fill-mode:both;
}
#header__contact:hover {
  animation: active-button 0.4s ease-in;
  animation-fill-mode:both;
}
#header__follow:hover {
  animation: active-button 0.4s ease-in;
  animation-fill-mode:both;
}
.header__line__1 {
  
position: absolute;
width: 1px;
height: 30px;
left: 431px;
top: 0px;

border: 1px solid red;
}
.header__line__2 {
  
position: absolute;
width: 1px;
height: 30px;
left: 301px;
top: 0px;

border: 1px solid red;
}
.header__line__3 {
  position: absolute;
width: 1px;
height: 30px;
left: 159px;
top: 0px;

border: 1px solid red;
}
/* .logo_text {
  position: relative;
  width: 100%;

left: 0px;
top: 0px;

font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 19px;

display: flex;
align-items: flex-end;
letter-spacing: 8px;

color: red;
}
.header__logo_bottom_black {
  width: 90%;
} */

@keyframes div-galery{
  0%{left: 0}
  50%{background: black}
  100%{left: 165px}
}
@keyframes div-contact{
  0%{left: 0}
  50%{background: black}
  100%{left: 307px}
}
@keyframes div-prices{
  0%{left: 0}
  50%{background: black}
  100%{left: 437px}
}
.active_galery {
  position: absolute;
  width: 130px;
  height: 2px;
  left: 5px;
  top: 35px;
  
  background: red;
  animation: div-galery 0.4s ease-in;
  animation-fill-mode:both;
}
.active_home {
  position: absolute;
  width: 130px;
  height: 2px;
  left: 5px;
  top: 35px;
  
  background: red;
  animation: div-galery 1s ease-in;
  animation-fill-mode:both;
}
.active_contact {
  position: absolute;
  width: 118px;
  height: 2px;
  left: 5px;
  top: 35px;
  
  background: red;
  animation: div-contact 0.4s ease-in;
  animation-fill-mode:both;
}
.active_prices {
  position: absolute;
  width: 130px;
  height: 2px;
  left: 5px;
  top: 35px;
  
  background: red;
  animation: div-prices 0.4s ease-in;
  animation-fill-mode:both;
}
@keyframes galery {
  0% {left: 165px}
  50% {background: black}
  100% {left: 25px;}
}
.galery_home {
  position: absolute;
  width: 130px;
  height: 2px;
  left: 25px;
  top: 35px;
  
  background: red;
  animation: galery 0.4s ease-in;
  animation-fill-mode:both;
}
@keyframes contact {
  0% {left: 307px}
  50% {background: black}
  100% {left: 25px;}
}
.contact_home {
  position: absolute;
  width: 130px;
  height: 2px;
  left: 25px;
  top: 35px;
  
  background: red;
  animation: contact 0.4s ease-in;
  animation-fill-mode:both;
}
@keyframes prices {
  0% {left: 437px}
  50% {background: black}
  100% {left: 25px;}
}
.prices_home {
  position: absolute;
  width: 130px;
  height: 2px;
  left: 25px;
  top: 35px;
  
  background: red;
  animation: prices 0.4s ease-in;
  animation-fill-mode:both;
}
